@page "/counter"

<PageTitle>Integrantes</PageTitle>

<h1>Integrantes</h1>

<br>
<div>
    <table style="font-family: arial; height:90px; border-collapse: collapse; border: ">
        <tr>
            <td style="padding: 7px">
                <img src="https://avatars.githubusercontent.com/u/65460563?s=400&u=169e06bd0fec941483f8127bd122435156068343&v=4"
                     alt=""
                     width="80"
                     height="80"
                     style="display:block; border-radius: 50%; margin-right: 7px; float: left">
                @*<div style="width: 5px; height: 80px; background:#75c8fd; float: right">*@
            </td>
            <td style="vertical-align:top; padding:7px 14px 7px 3px">
                <strong style="margin: 0; font-size:17px; color: rgba(40, 45, 49,.9); line-height: 24px; height: 24px; display:block">German Jesus Viola Perez     </strong>
                <p style='font-size:12px; margin: 0px 0 6px; height: 30px'>
                    <span style="margin: 0; color: #666">Desarrollador</span>
                    <br>
                    <a href='https://github.com/GermanJesus04' style="color: #25C9FF; font-weight: bold">github.com/GermanJesus04</a>
                </p>

            </td>
        </tr>
    </table>
</div>

<br>
<div>
    <table style="font-family: arial; height:90px; border-collapse: collapse; border: ">
        <tr>
            <td style="padding: 7px">
                <img src="https://avatars.githubusercontent.com/u/58188506?v=4"
                     alt=""
                     width="80"
                     height="80"
                     style="display:block; border-radius: 50%; margin-right: 7px; float: left">
                @*<div style="width: 5px; height: 80px; background:#75c8fd; float: right">*@
            </td>
            <td style="vertical-align:top; padding:7px 14px 7px 3px">
                <strong style="margin: 0; font-size:17px; color: rgba(40, 45, 49,.9); line-height: 24px; height: 24px; display:block">Brian Enrique Martinez Guevara</strong>
                <p style='font-size:12px; margin: 0px 0 6px; height: 30px'>
                    <span style="margin: 0; color: #666">Desarrollador</span>
                    <br>
                    <a href='https://github.com/DevBuster' style="color: #25C9FF; font-weight: bold">github.com/DevBuster</a>
                </p>

            </td>
        </tr>
    </table>
</div>



@*<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
*@